Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-build-image-python-base, system-config-upload-image-python-base, system-config-promote-image-python-base, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-build-image-python-base: any of: docker/python-base/.*
  system-config-upload-image-python-base: any of: docker/python-base/.*
  system-config-promote-image-python-base: any of: docker/python-base/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-letsencrypt: any of: .zuul.yaml, playbooks/group_vars/letsencrypt.yaml, playbooks/roles/letsencrypt.*
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-docker-registry: any of: .zuul.yaml, playbooks/group_vars/registry.yaml, ^playbooks/host_vars/insecure-ci-registry\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/registry.yaml.j2, playbooks/roles/registry/, testinfra/test_registry.py
  system-config-run-gitea: any of: .zuul.yaml, playbooks/group_vars/gitea.yaml, playbooks/group_vars/gitea-lb.yaml, playbooks/zuul/templates/group_vars/gitea.yaml.j2, playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2, playbooks/roles/gitea/, playbooks/roles/gitea-git-repos/, playbooks/roles/haproxy/, testinfra/test_gitea.py, testinfra/test_gitea_lb.py, docker/gitea/.*
  system-config-run-zuul-preview: any of: .zuul.yaml, playbooks/roles/zuul-preview/, testinfra/test_zuul_preview.py

[wip] letsencrypt update idea
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

[wip] letsencrypt update idea
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/touch_file.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

[wip] letsencrypt update idea
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/touch_file.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

[wip] letsencrypt update idea
  .zuul.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/touch_file.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Use handlers for letsencrypt cert updates
  playbooks/host_vars/graphite01.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/touch_file.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

Update notes for submitted changes
  d6/c2d3ab9eac200e50a9841884fa34f4949c88e7
Due: none

Add a opendev migration repo name mapping script
  tools/opendev-migrate
Due: none

Prune the intermediate registry before GCing
  playbooks/roles/registry/files/registry-gc.sh
  playbooks/roles/registry/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-docker-registry

Update notes for submitted changes
  6a/1d4da730885a6d4e2c1417e82d41dd06a62da1
Due: none

Update notes for submitted changes
  fb/12d2620b1b1822b91f14270cc51360d424b2a3
Due: none

Update notes for submitted changes
  c7/f8b298efbade37f53974b4c48103bd977cbe0a
Due: none

Update zuul servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update lists.openstack.org to puppet 4
  inventory/groups.yaml
Due: none

Redirect review.openstack.org to review.opendev.org
  manifests/site.pp
  modules/openstack_project/manifests/files.pp
  modules/openstack_project/templates/review-openstack-redirect.vhost.erb
Due: none

Redirect review.openstack.org to review.opendev.org
  manifests/site.pp
  modules/openstack_project/manifests/review.pp
  modules/openstack_project/templates/review-openstack-redirect.vhost.erb
Due: none

Redirect review.openstack.org to review.opendev.org
  manifests/site.pp
  modules/openstack_project/files/opendev.svg
  modules/openstack_project/manifests/gerrit.pp
  modules/openstack_project/manifests/review.pp
  modules/openstack_project/templates/review-openstack-redirect.vhost.erb
Due: none

Redirect review.openstack.org to review.opendev.org
  manifests/site.pp
  modules/openstack_project/files/opendev.svg
  modules/openstack_project/manifests/gerrit.pp
  modules/openstack_project/manifests/review.pp
  modules/openstack_project/templates/review-openstack-redirect.vhost.erb
  playbooks/roles/gitea/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-gitea

Use swift to back intermediate docker registry
  playbooks/roles/registry/files/registry-docker/docker-compose.yaml
  playbooks/roles/registry/tasks/main.yaml
  playbooks/roles/registry/templates/config.yml
  playbooks/zuul/templates/group_vars/registry.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-docker-registry

Add a one-time playbook for the opendev migration
  playbooks/opendev_migration.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Use swift to back intermediate docker registry
  playbooks/roles/registry/files/registry-docker/docker-compose.yaml
  playbooks/roles/registry/tasks/main.yaml
  playbooks/roles/registry/templates/config.yml.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/registry.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-docker-registry

WIP: Sketch of a registry test which uses swift
  .zuul.yaml
  playbooks/zuul/devstack-swift.yaml
  playbooks/zuul/test-registry.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Add a opendev migration repo rename scripts
  tools/opendev-migrate
  tools/opendev-patching
Due: none

Bind to v4 and v6 in haproxy
  playbooks/group_vars/gitea-lb.yaml
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
  playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-gitea

Update gerrit connection in Zuul
  hiera/group/zuul-executor.yaml
  hiera/group/zuul-merger.yaml
  hiera/group/zuul-scheduler.yaml
Due: none

Create a script to handle zuul key file moves
  tools/opendev-migrate
Due: none
