Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-build-image-python-base, system-config-upload-image-python-base, system-config-promote-image-python-base, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-build-image-python-base: any of: docker/python-base/.*
  system-config-upload-image-python-base: any of: docker/python-base/.*
  system-config-promote-image-python-base: any of: docker/python-base/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-letsencrypt: any of: .zuul.yaml, playbooks/group_vars/letsencrypt.yaml, playbooks/roles/letsencrypt.*
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-docker-registry: any of: .zuul.yaml, playbooks/group_vars/registry.yaml, ^playbooks/host_vars/insecure-ci-registry\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/registry.yaml.j2, playbooks/roles/registry/, testinfra/test_registry.py
  system-config-run-gitea: any of: .zuul.yaml, playbooks/group_vars/gitea.yaml, playbooks/group_vars/gitea-lb.yaml, playbooks/zuul/templates/group_vars/gitea.yaml.j2, playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2, playbooks/roles/gitea/, playbooks/roles/gitea-git-repos/, playbooks/roles/haproxy/, testinfra/test_gitea.py, testinfra/test_gitea_lb.py, docker/gitea/.*
  system-config-run-zuul-preview: any of: .zuul.yaml, playbooks/roles/zuul-preview/, testinfra/test_zuul_preview.py

letsencrypt: tighten certificate permissions
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

Enable production cert generation for graphite01
  playbooks/host_vars/graphite01.opendev.org.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Pass SSL certs to graphite.opendev.org
  manifests/site.pp
Due: none

Update notes for submitted changes
  43/2a253cc61a4b46d32ad4400edb1496c364419e
Due: none

Added openstackid dev sendgrid support
  manifests/site.pp
  modules/openstack_project/manifests/openstackid_dev.pp
Due: none

Update puppet-python to "fix" broken facts
  modules.env
Due: none

Update notes for submitted changes
  43/26760205364faae566f582eb6687f275063005
Due: none

Update notes for submitted changes
  8a/c2c91d231fb187f4392adcefeb84fe368ba7de
Due: none

yamlgroup: add regex match; exclude puppet4 for arm64 mirrors
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test_yamlgroup.py
  playbooks/roles/install-ansible/files/inventory_plugins/yamlgroup.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Update nodepool servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  de/dd3a409f7f057182bc274631fdd781f1431fd2
Due: none

Update notes for submitted changes
  4a/bd0a3184028a3412667f73d0e6064ae2a56d52
Due: none

Update notes for submitted changes
  a8/8d836661943da1bf32f5f24b9c7f42f1bc6133
Due: none

Update notes for submitted changes
  74/e33f362edf772f7b0b1a09688dd300c3430bb0
Due: none

Update notes for submitted changes
  cb/0a073fa836888d82d15dc387376ecf242884ae
Due: none

Remove apport from servers
  playbooks/roles/base-server/tasks/Debian.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Disable apport on servers
  playbooks/roles/base-server/tasks/Debian.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add script to automate GitHub organization transfers
  tools/github-org-transfer.py
Due: none

Update grafana for new archive repo
  modules.env
Due: none

Add Puppet-Version: !X skip to apply tests
  tools/apply-test.sh
Due: none

Update grafana for new archive repo
  manifests/site.pp
  modules.env
Due: none

Revert "Disable gerrit replication to GitHub for ara/ara-infra/ara-web"
  modules/openstack_project/manifests/review.pp
Due: none

Add missing '^' to github replication pattern
  modules/openstack_project/manifests/review.pp
Due: none

Update notes for submitted changes
  df/8452a21c02db0954acf9f8b788130da5701b05
Due: none

Move insecure-ci-registry data to /opt
  .zuul.yaml
  playbooks/roles/registry/files/registry-docker/docker-compose.yaml
  playbooks/roles/registry/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Install a docker registry GC cron
  playbooks/roles/registry/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-docker-registry

Update notes for submitted changes
  67/1250095d4a4b6b1cb9408463dd901a913b34ef
Due: none

[wip] letsencrypt update idea
  playbooks/base.yaml
  playbooks/handlers/letsencrypt.letsencrypt01.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

[wip] letsencrypt update idea
  playbooks/roles/letsencrypt-create-certs/handlers/letsencrypt01.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/letsencrypt02.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

[wip] letsencrypt update idea
  playbooks/roles/letsencrypt-create-certs/handlers/letsencrypt01.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/letsencrypt02.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

[wip] letsencrypt update idea
  playbooks/roles/letsencrypt-create-certs/handlers/letsencrypt01.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/letsencrypt02.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

[wip] letsencrypt update idea
  playbooks/roles/letsencrypt-create-certs/handlers/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt
