Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-build-image-python-base, system-config-upload-image-python-base, system-config-promote-image-python-base, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-build-image-python-base: any of: docker/python-base/.*
  system-config-upload-image-python-base: any of: docker/python-base/.*
  system-config-promote-image-python-base: any of: docker/python-base/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-letsencrypt: any of: .zuul.yaml, playbooks/group_vars/letsencrypt.yaml, playbooks/roles/letsencrypt.*
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-docker-registry: any of: .zuul.yaml, playbooks/group_vars/registry.yaml, ^playbooks/host_vars/insecure-ci-registry\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/registry.yaml.j2, playbooks/roles/registry/, testinfra/test_registry.py
  system-config-run-gitea: any of: .zuul.yaml, playbooks/group_vars/gitea.yaml, playbooks/group_vars/gitea-lb.yaml, playbooks/zuul/templates/group_vars/gitea.yaml.j2, playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2, playbooks/roles/gitea/, playbooks/roles/gitea-git-repos/, playbooks/roles/haproxy/, testinfra/test_gitea.py, testinfra/test_gitea_lb.py, docker/gitea/.*
  system-config-run-zuul-preview: any of: .zuul.yaml, playbooks/roles/zuul-preview/, testinfra/test_zuul_preview.py

Explicitly set up mirror update crons under root user
  modules/openstack_project/manifests/mirror_update.pp
Due: none

Add the mirroring of Debian Buster
  modules/openstack_project/manifests/mirror_update.pp
Due: none

Replace openstack.org git:// URLs with https://
  README.md
  modules/openstack_project/manifests/git_backend.pp
  modules/openstack_project/manifests/planet.pp
  modules/openstack_project/manifests/review.pp
  modules/openstack_project/manifests/status.pp
  modules/openstack_project/metadata.json
  roles.yaml
  tools/install_modules_acceptance.sh
  tools/logstash-filter-test.sh
  tools/prep-apply.sh
Due: none

Update notes for submitted changes
  bd/f8cd90f7a37bd158019e60a34c8ba5d9d43581
Due: none

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsigned.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/letsencrypt.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

master-nameserver: Add unmanaged domains; add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
  playbooks/zuul/templates/group_vars/adns.yaml.j2
  testinfra/test_adns.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsigned.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/adns.yaml.j2
  playbooks/zuul/templates/group_vars/letsencrypt.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Update notes for submitted changes
  51/dda0881fbeaa215c3a724db8831d8d71a18c92
Due: none

Upgrade lists servers to puppet 4
  inventory/groups.yaml
Due: none

Update review.openstack.org to puppet 4
  inventory/groups.yaml
Due: none

Update ask.openstack.org to puppet 4
  inventory/groups.yaml
Due: none

Upgrade lists servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update review.openstack.org to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Allow all mod_rewrite directives in git-redirect vhosts
  modules/openstack_project/templates/git-redirect.vhost.erb
Due: none

Use docs.opendev.org ssl cert
  manifests/site.pp
Due: none

Update hieraedit for python3
  tools/hieraedit.py
Due: none

Add fake DNSSEC keys for zones
  playbooks/zuul/templates/group_vars/adns.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-dns

Update notes for submitted changes
  90/39bdc0b267ada5098fa51ac45bf76d352fd480
Due: none

Use adns group in base.yaml
  playbooks/base.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/roles/letsencrypt-request-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/letsencrypt.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Stop trying to mirror Master openSUSE_Leap_42.3
  modules/openstack_project/files/mirror/opensuse-mirror-update.sh
Due: none

Update notes for submitted changes
  31/eeb76f04b787280d8623608ec144b31af5d8ab
Due: none

Update notes for submitted changes
  0e/b17f39df8fcfa8d87cf2d3711a3a2f1ad8297c
Due: none
