Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-build-image-python-base, system-config-upload-image-python-base, system-config-promote-image-python-base, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

system-config-build-image-jinja-init:
  description: Build a jinja-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-gitea:
  description: Build a gitea image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-gerrit:
  description: Build a gerrit image.
  parent: system-config-build-image
  pre-run: playbooks/zuul/gerrit/repos.yaml
  required-projects:
  - name: gerrit.googlesource.com/gerrit
    override-checkout: stable-2.15
  - name: gerrit.googlesource.com/plugins/commit-message-length-validator
  ...

Remove /hosts from log outputs
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Remove zonefile from nsd config
  playbooks/roles/nameserver/templates/nsd.conf.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-dns

letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/roles/letsencrypt-request-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/letsencrypt.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/templates/host_vars/letsencrypt02.opendev.org.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Add graphite01.opendev.org letsencrypt configuration
  inventory/groups.yaml
Due: none

Set ansible_python_interpreter for bridge.o.o
  playbooks/zuul/run-production-playbook.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Changed region of arm64ci from nrt1 to ewr1
  playbooks/clouds_layouts.yml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Changed region of arm64ci from nrt1 to ewr1 Also updated the URLs
  playbooks/clouds_layouts.yml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Enable gerrit replication.autoReload for review-dev
  modules/openstack_project/manifests/review_dev.pp
Due: none

Enable gerrit replication.autoReload for review
  modules/openstack_project/manifests/review.pp
Due: none

Update notes for submitted changes
  9a/7172ab8abf007ddea80dbe6bee6bf15b045e4f
Due: none

Enable gerrit replication.autoReload for review-dev
  modules/openstack_project/manifests/gerrit.pp
  modules/openstack_project/manifests/review_dev.pp
Due: none

letsencrypt : minor updates
  inventory/groups.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

Update AFS servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update kerberos servers to puppet 4
  inventory/groups.yaml
Due: none

Update zuul servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update nodepool servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add support for LE roles to restart apache
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/host_vars/letsencrypt01.opendev.org.yaml.j2
  playbooks/zuul/test-base.yaml
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

Update notes for submitted changes
  d4/a6f1269a0bacd5c28f2c59d0d7823619b809db
Due: none

Update notes for submitted changes
  86/d0d7825527b11526a03bc17c1d8eb58937eaa2
Due: none

Add control plane clouds to nodepool builder clouds.yaml
  inventory/groups.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/templates/clouds/nodepool_builder_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_launcher_clouds.yaml.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
  tools/check_clouds_yaml.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Change the default for config-drive to True
  launch/launch-node.py
Due: none

Update notes for submitted changes
  93/0b64c96b3d8c91aa611eb2d125495faae702ef
Due: none

Add cache-control headers for service-types.openstack.org
  modules/openstack_project/manifests/static.pp
  modules/openstack_project/templates/static-https-redirect.vhost.erb
Due: none

Update notes for submitted changes
  ce/7d04ddeaf6c99db728482ca655857933807d6e
Due: none

Update notes for submitted changes
  8e/d05c1340416ab752844c3d3aa3327bfce0722c
Due: none

Update notes for submitted changes
  d7/c0be958df516c70eb7955e1783da991c3d36fb
Due: none

Remove no longer used logstash config
  doc/source/logstash.rst
  modules/openstack_project/templates/logstash/agent.conf.erb
  modules/openstack_project/templates/logstash/indexer.conf.erb
Due: none

Update gitea to 1.7.5
  docker/gitea/Dockerfile
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-run-gitea

Update notes for submitted changes
  62/56732c104948c763e1430b845dd42c296d46cc
Due: none

Disable gerrit replication to GitHub for ara/ara-infra/ara-web
  modules/openstack_project/manifests/review.pp
Due: none

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-build-image-python-base: any of: docker/python-base/.*
  system-config-upload-image-python-base: any of: docker/python-base/.*
  system-config-promote-image-python-base: any of: docker/python-base/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-letsencrypt: any of: .zuul.yaml, playbooks/group_vars/letsencrypt.yaml, playbooks/roles/letsencrypt.*
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-docker-registry: any of: .zuul.yaml, playbooks/group_vars/registry.yaml, ^playbooks/host_vars/insecure-ci-registry\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/registry.yaml.j2, playbooks/roles/registry/, testinfra/test_registry.py
  system-config-run-gitea: any of: .zuul.yaml, playbooks/group_vars/gitea.yaml, playbooks/group_vars/gitea-lb.yaml, playbooks/zuul/templates/group_vars/gitea.yaml.j2, playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2, playbooks/roles/gitea/, playbooks/roles/gitea-git-repos/, playbooks/roles/haproxy/, testinfra/test_gitea.py, testinfra/test_gitea_lb.py, docker/gitea/.*
  system-config-run-zuul-preview: any of: .zuul.yaml, playbooks/roles/zuul-preview/, testinfra/test_zuul_preview.py
