Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-build-image-python-base, system-config-upload-image-python-base, system-config-promote-image-python-base, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-build-image-python-base: any of: docker/python-base/.*
  system-config-upload-image-python-base: any of: docker/python-base/.*
  system-config-promote-image-python-base: any of: docker/python-base/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-letsencrypt: any of: .zuul.yaml, playbooks/group_vars/letsencrypt.yaml, playbooks/roles/letsencrypt.*
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-docker-registry: any of: .zuul.yaml, playbooks/group_vars/registry.yaml, ^playbooks/host_vars/insecure-ci-registry\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/registry.yaml.j2, playbooks/roles/registry/, testinfra/test_registry.py
  system-config-run-gitea: any of: .zuul.yaml, playbooks/group_vars/gitea.yaml, playbooks/group_vars/gitea-lb.yaml, playbooks/zuul/templates/group_vars/gitea.yaml.j2, playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2, playbooks/roles/gitea/, playbooks/roles/gitea-git-repos/, playbooks/roles/haproxy/, testinfra/test_gitea.py, testinfra/test_gitea_lb.py, docker/gitea/.*
  system-config-run-zuul-preview: any of: .zuul.yaml, playbooks/roles/zuul-preview/, testinfra/test_zuul_preview.py

Update notes for submitted changes
  d3/f3d29518a3979898f4c8761846272b50d317bd
Due: none

Update notes for submitted changes
  90/e867b0e321ed6597c0c08c61f3018aee512169
Due: none

Don't manage puppet.conf during puppet-install
  roles/puppet-install/tasks/puppet-install/CentOS.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  fa/8276a3e2e0a6e40f3be2d23bea863cb16f6d35
Due: none

Update notes for submitted changes
  2d/b41fc4884db5127c0723d352c1fdce38501085
Due: none

Update notes for submitted changes
  af/d907c16d7ecee41ab15b0ce02c356dca9eba47
Due: none

Update notes for submitted changes
  60/88c788f1a9ddddbd6d1a371043bbb6cb0283ec
Due: none

Update notes for submitted changes
  45/e88482fdf5a71e6f02e5e8a44987a1a44e52bf
Due: none

Remove linaro-cn1 region
  inventory/openstack.yaml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Really add graphite01.opendev.org certificate details
  playbooks/host_vars/graphite01.opendev.org.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  02/69710c86b0a17af276a07c3bfccb32558b9cba
Due: none

Skip installing puppetlabs repos if they exist
  roles/puppet-install/tasks/puppet-install/bionic.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel

Remove graphite.openstack.org
  doc/source/grafana.rst
  hiera/common.yaml
  inventory/openstack.yaml
  manifests/site.pp
  modules/openstack_project/files/git/haproxy-statsd.default
  modules/openstack_project/manifests/logstash.pp
  modules/openstack_project/manifests/status.pp
  modules/openstack_project/templates/mirror-update/afsmon.cfg.erb
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  run_all.sh
  run_cloud_launcher.sh
Due: system-config-run-base, system-config-run-base-ansible-devel

Skip installing puppetlabs repos if they exist
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel

Use /usr/bin/python3 as the interpreter for bridge.o.o
  playbooks/zuul/run-production-playbook.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add rewrites for whitelabeled legacy git sites
  modules/openstack_project/files/git-redirect.htaccess
Due: none

Update notes for submitted changes
  e2/c4d9b3adec06681d928d4b7ec2d7fd55d004f8
Due: none

Changed config to add the new ewr1cloud * New cloud 'arm64ci-ewr1' (url: ewr1cloud.arm64ci.cloud) * Keeping the old cloud 'arm64ci' (url: arm64ci.cloud) for now for a bit of overlap.
  playbooks/clouds_layouts.yml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/nodepool.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.openstack.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Update notes for submitted changes
  72/b4b868abac557a078dca87754f56e217330cd7
Due: none

Update notes for submitted changes
  ad/dec0df6b70b73cb754864318fe0913820843f2
Due: none

Update notes for submitted changes
  00/efd089a2c0b5d21d3f3ef7ca0cd6b528146745
Due: none

letsencrypt: split staging and self-signed generation
  playbooks/host_vars/graphite01.opendev.org.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-request-certs/README.rst
  playbooks/roles/letsencrypt-request-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/acme.yaml
  playbooks/zuul/templates/group_vars/letsencrypt.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-letsencrypt

Pivot to running zuul cd against nameservers
  .zuul.yaml
  playbooks/zuul_manage_nameservers.yaml
  playbooks/zuul_reconfigure.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-letsencrypt, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-docker-registry, system-config-run-gitea, system-config-run-zuul-preview

Update notes for submitted changes
  86/c5bc2b45986fc2e56ba90f9e6a4a3a33cec8c9
Due: none

[dmn] Stashing some scripts to make git:// -> https:// changes
  tools/opendev-transition/git-to-https/README.txt
  tools/opendev-transition/git-to-https/all-repos.py
  tools/opendev-transition/git-to-https/clone.sh
  tools/opendev-transition/git-to-https/devstack-repos.txt
  tools/opendev-transition/git-to-https/pushit.sh
  tools/opendev-transition/git-to-https/replace.sh
  tools/opendev-transition/git-to-https/reset.sh
  tools/opendev-transition/git-to-https/submit.sh
  tools/opendev-transition/git-to-https/updatemsg.sh
Due: none

Update notes for submitted changes
  ac/098b06fd2cdd91ba446acb4dac1a9e6d1a241f
Due: none

yamlgroup: add regex match; exclude puppet4 for arm64 mirrors
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test_yamlgroup.py
  playbooks/roles/install-ansible/files/inventory_plugins/yamlgroup.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Changed config to add the new ewr1cloud
  playbooks/clouds_layouts.yml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/nodepool.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.openstack.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Update notes for submitted changes
  02/feafa9629a2ecdc26888587d755f3874a669be
Due: none

Update notes for submitted changes
  db/0cf87ddbe989cac7d26878a827c6a4aab93853
Due: none

Update notes for submitted changes
  a9/88c9253ec20bb9e772885a90a16ae941834f33
Due: none
